body {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    background: #f6f6f6;
    color: #4a4a4a;
    font-family: 'Montserrat', sans-serif;
}

body.dark_theme,
body.dark_theme #loader {
    background: #222126 !important;
}

body.dark_theme .card,
body.dark_theme .btn_icon,
body.dark_theme textarea,
body.dark_theme .popup_content,
body.dark_theme .CodeMirror,
body.dark_theme .bookmarks_folder:hover,
body.dark_theme .bookmark_single:hover,
body.dark_theme .bookmarks_folder .folder_content {
    background: #333336 !important;
    color: #fff;
}

body.dark_theme .tasks_count,
body.dark_theme .bookmarks_folder .bookmarks_folder:hover,
body.dark_theme .bookmarks_folder .bookmark_single:hover {
    background: #444446 !important;
}

body.dark_theme .task_item,
body.dark_theme textarea,
body.dark_theme .setting_block div,
body.dark_theme .CodeMirror {
    border: 1px solid #444446 !important;
}

body.dark_theme .setting_block div.active {
    border-color: #0080ff !important;
}

body.dark_theme input[type="checkbox"]:checked {
    background: #555556 !important;
}

body.dark_theme .card_title,
body.dark_theme .popup_title,
body.dark_theme .popup_subtitle,
body.dark_theme .bookmarks_bar a,
body.dark_theme .bookmarks_folder {
    color: #fff;
}

a {
    text-decoration: none;
}

#loader {
    background: none repeat scroll 0 0 #f0f4f7;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.loader_inner {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

.loader_inner img {
    width: 100px;
    height: 100px;
    animation: pulse 3s linear infinite;
}

@keyframes pulse {
    0% {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }

    50% {
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }

    100% {
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100vw - 40px);
    height: calc(100vh - 80px);
    margin: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_header {
    font-size: 28px;
    font-weight: 500;
    color: #4a4a4a;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.author_block {
    font-size: 14px;
}

.author_block a {
    color: #9197a3;
}

.title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #4a4a4a;
}

.title_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards_group {
    display: flex;
    overflow-y: hidden;
}

.card {
    box-shadow: 0 2px 15px 0 rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
    padding: 20px;
    margin: 10px;
    min-width: 400px;
    max-width: 500px;
}

.page .card {
    min-height: 500px;
    max-height: 600px;
}

.card_content {
    overflow-y: scroll;
    max-height: 450px;
}

.card_form {
    display: flex;
    flex-direction: column;
}

.form_bottom {
    text-align: center;
    font-size: 14px;
    color: #d8d8d8;
}

.card_title {
    margin-bottom: 15px;
    font-weight: 500;
    color: #4a4a4a;
}

form input {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #898989;
    padding: 8px 16px;
    background: #fff;
    font-size: 20px;
    outline: 0;
}

textarea,
.CodeMirror {
    font-size: 14px;
    outline: 0;
    border-radius: 5px;
    margin: 10px 0;
    padding: 8px 16px;
    border: 1px solid #e7e7e7;
    width: calc(100% - 35px) !important;
    height: 420px !important;
    color: #4a4a4a;
}

.CodeMirror {
    width: 100% !important;
    height: 438px !important;
}

.editor-toolbar,
.editor-statusbar {
    display: none;
}

.btn {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background-color: #0080ff;
    height: 44px;
    line-height: 44px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    outline: 0px;
    text-align: center;
    border: 0px;
    padding: 0;
    border-radius: 5px;
}

.btns_group {
    display: flex;
    align-items: center;
}

.log_out {
    width: 90%;
    font-size: 14px;
    margin: 20px auto 0;
    background: transparent;
    color: #e74c3c;
}

.btn_icon {
    background: #fff;
    margin: 10px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.btn_icon:active {
    background: #d8d8d8;
}

.btn_icon img {
    width: 30px;
    height: auto;
}

.btn_add {
    cursor: pointer;
}

.tasks_count {
    background: #9197a3;
    margin-left: 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.task_item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    padding: 8px 16px;
    border: 1px solid #e7e7e7;
}

.task_item:hover {
    border-color: #0080ff;
}

.setting_block {
    width: 90%;
    margin: 10px auto 15px;
}

.setting_block div {
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 0;
    padding: 8px 16px;
    border: 1px solid #e7e7e7;
}

.setting_block div.active {
    border-color: #0080ff;
}

.popup {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.popup_close_panel {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.popup_content {
    position: absolute;
    background: #fff;
    border-radius: 5px;
    z-index: 101;
    padding: 20px;
    min-width: 300px;
    max-width: 400px;
}

.popup_title {
    margin-bottom: 15px;
    font-weight: 500;
    color: #4a4a4a;
}

.popup_subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #4a4a4a;
    width: 95%;
    margin: auto;
}

.popup_close {
    cursor: pointer;
}

.time_block {
    font-size: 18px;
    padding: 5px 10px;
    margin: 10px;
    color: #9197a3;
}

.bookmarks_bar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 14px;
    overflow: auto;
}

.bookmarks_bar a,
.bookmarks_folder {
    cursor: default;
    color: #4a4a4a;
}

.bookmarks_bar img {
    width: 16px;
    height: 16px;
}

.bookmarks_folder img {
    margin-right: 8px;
}

.bookmarks_folder,
.bookmark_single {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    padding: 5px;
}

.bookmark_single {
    min-width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: flex-start;
}

.bookmarks_folder:hover,
.bookmark_single:hover {
    background: #fff;
    border-radius: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.bookmarks_folder .bookmarks_folder,
.bookmarks_folder .bookmark_single {
    justify-content: flex-start;
    width: calc(100% - 20px);
    margin: 0;
    padding: 5px 10px;
}

.bookmarks_folder .bookmarks_folder:hover,
.bookmarks_folder .bookmark_single:hover {
    background: #f6f6f6;
    border-radius: 0;
    box-shadow: none;
}

.bookmarks_folder .folder_content {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    padding: 6px 0;
    border-radius: 0 6px 6px;
    min-width: 220px;
    position: absolute;
    z-index: 100;
    top: 24px;
    left: 0;
}

.folder_content .folder_content {
    top: 0;
    left: 100px;
}

.bookmarks_folder:hover>.folder_content {
    visibility: visible;
}

input[type="checkbox"] {
    position: relative;
    width: 22px;
    height: 22px;
    min-height: 22px;
    min-width: 22px;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

input[type="checkbox"]:checked {
    color: #fff;
    background: #d8d8d8;
}

input[type="checkbox"]:checked::before {
    position: absolute;
    content: "";
    display: block;
    top: 4px;
    left: 7px;
    width: 4px;
    height: 9px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    border-radius: 1px;
    transform: rotate(45deg);
}

label {
    position: relative;
    cursor: pointer;
    padding-left: 10px;
    font-size: 18px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color .3s ease-in-out;
}

input[type="checkbox"]:checked+label {
    color: #d8d8d8;
}

input[type="checkbox"]:checked+label::before {
    position: absolute;
    content: "";
    display: block;
    top: 10px;
    left: 5px;
    width: 200px;
    height: 1px;
    border: solid;
    border-color: #d8d8d8;
    border-width: 1px 0 0 0;
}

::-webkit-input-placeholder {
    color: #dadada;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

::-moz-placeholder {
    color: #dadada;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

:-ms-input-placeholder {
    color: #dadada;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

:-moz-placeholder {
    color: #dadada;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

@media (max-width: 1250px) {
    .card {
        min-width: 300px;
        max-width: 400px;
    }
}
